-# - if @project.id.present?
-#   = form_with url: search_project_pages_path(@project), method: :post, data: { controller: "search" } do |form|
-#     .relative.text-gray-600
-#       %i.fa-solid.fa-magnifying-glass.fa-xl.absolute.left-0.top-1.mt-6.ml-3.text-accent
-#       = form.search_field :search,
-#       data: {"search-target": "search_field", action: "input->search#debouncedSearch"},
-#       name: "search",
-#       placeholder: "Search for documentation...",
-#       class: "border-2 border-accent bg-white w-full h-14 px-10 pr-16 mb-2 rounded-lg focus:outline-0"
-#       #suggestions{data: {"search-target": "search_suggestions"}}