#search_modal.relative.z-50.hidden{"aria-labelledby": "modal-title", "aria-modal": "true", role: "dialog"}
  .fixed.inset-0.bg-gray-500.bg-opacity-75.transition-opacity
  .fixed.inset-0.z-10.overflow-y-auto
    #search-modal-backdrop.flex.min-h-full.justify-center.p-4.mt-5.text-center.items-start.sm:p-0
      .relative.transform.overflow-hidden.rounded-lg.bg-white.text-left.shadow-xl.transition-all{class: "w-5/12"}
        .bg-gray-100.sm:p-3
          = render "shared/search_form"