/ Navigation Toggle
%button.text-gray-500.hover:text-gray-600{"aria-controls" => "docs-sidebar", "aria-label" => "Toggle navigation", "data-hs-overlay" => "#docs-sidebar", type: "button"}
  %span.sr-only Toggle Navigation
  %svg.w-5.h-5{fill: "currentColor", height: "16", viewbox: "0 0 16 16", width: "16"}
    %path{d: "M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z", "fill-rule" => "evenodd"}
/ End Navigation Toggle
#docs-sidebar.hs-overlay.hs-overlay-open:translate-x-0.-translate-x-full.transition-all.duration-300.transform.hidden.fixed.top-16.left-0.bottom-0.w-64.bg-white.border-r.border-gray-200.pt-7.pb-10.overflow-y-auto.scrollbar-y.lg:block.lg:translate-x-0.lg:right-auto.lg:bottom-0.dark:scrollbar-y.dark:bg-white.dark:border-grey-light{class: "z-[60]"}
  .px-6
    %a.flex-none.text-xl.font-semibold.dark:text-white{"aria-label" => "Brand", href: "javascript:;"} Brand
  %nav.list-none.p-2.w-full.flex.flex-col.flex-wrap{"data-hs-accordion-always-open" => ""}
    %ul{class: "space-y-1.5"}
    - @project.pages.each do |page|
      %li.mb-1
        = link_to project_page_path(@project, page), class: "flex justify-between font-medium text-sm text-text hover:bg-gray-100 rounded-md p-1 pl-3 #{'text-accent bg-light-accent' if current_page?(project_page_path(@project, page))}" do
          = page.title
          %p +
