= render "shared/sidebar"
.page_main_content.ml-64.w-full
  %p.my-5
    %strong.block.font-medium.mb-1 Title:
    = @page.title
  %p.my-5
    %strong.block.font-medium.mb-1 Content:
    = @page.content&.html_safe
