/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

mark {
  text-decoration: underline;
  background-color: transparent;
  color: #c70517;
  display: inline;
}

a:hover > mark {
  color: inherit;
}

.ProseMirror code {
  background-color: #2563eb;
}

.ProseMirror code::after {
  content: "`"
}

.ProseMirror img {
  margin: 0;
}

.image-resizer {
  display: inline-flex;
  position: relative;
  flex-grow: 0;
  .resize-trigger {
    position: absolute;
    right: -6px;
    bottom: -9px;
    opacity: 0;
    transition: opacity .3s ease;
    color: #3259a5;
  }
  &:hover .resize-trigger {
    opacity: 1;
  }
}